TCarpet                 BITMAP DISCARDABLE "Glyphs/tcarpet.bmp"
TCarpetImage            BITMAP DISCARDABLE "Glyphs/tcarpetimage.bmp"
TCarpetLabel            BITMAP DISCARDABLE "Glyphs/tcarpetlabel.bmp"

